html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f5ecff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
}



/****************   Nav Section **********************/
nav {
	background-color: #4b4453;
  color: rgb(225, 213, 213);
  font-size: 14px;
  padding: 8px 0px 12px 8px;
  height: 1cm;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: auto;
  
}

nav a {
  color: rgb(225, 213, 213);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/***********************  Footer Section   **************************/
footer {
	background-color: #4b4453;
  color: rgb(225, 213, 213);
  font-size: 14px;
  padding: 8px;
  height: 14px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

footer a {
  color: rgb(225, 213, 213);
  text-decoration: none;
}

/*********** Splash Page ************************/
header {
  background-color: #f5ecff;
  flex-direction: column;
  display: flex;
  align-items: center;
}

header h1 {
  font-family: "TASA Explorer";
  color: #4b4453;
  font-size: 48px;
}

header img {
  border-radius: 100%;
  height: 200px;
  padding-bottom: 20px;
}


.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'TASA Explorer';
  font-style: bold;
  font-size: 14px;
  color: #433e56;
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'TASA Explorer';
  text-align: center;
  color: #433e56;
  font-size: 20px;
}

/************* Sections ********************/
hr {
  border: black solid 1px;
  width: 100%;
}

section {
  width: 100%;
  border-top: 1px dotted black;
}

section h3 { /*Project Names*/
  font-family:'Kode Mono';
  font-size: 20px;
  color: #4b4453
}

section h2 {
  font-family:'Epunda Slab';
  color: #4b4453; 
  display: flex;
  justify-content: center;
  font-size: 35px;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
  column-gap: 0;
  place-items: center;
  margin-left: 200px;
  margin-right: 200px;
}

section dt {
  
  font-size: 22px;
  padding-bottom: 20px;

}

section dd {
  margin-left: 0;
  padding-bottom: 20px;
}

section ul {
  font-style: italic;
  font-size: 20px;
}

.skills-ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  list-style: none;
  place-items: center;
  margin-left: 200px;
  margin-right: 200px;
}

.project-ul {
  list-style: disc;
}

section a {
  text-decoration: none;
  color: rgb(22, 22, 185);

}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  place-items: center;
  padding-bottom: 30px;
}

.card img {
  width: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b5a5c8;
  box-shadow: 4px 4px rgb(163, 141, 190);
  border: 4px solid rgb(128, 127, 127);
  height: 360px;
  width: 248px;
}

.card:hover {
  opacity: .6;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      height: 2cm;
    }

    .three-col {
      grid-template-columns: 1fr;
      place-items: center;

    }

    section dl {
      
      margin-left: 100px;
      margin-right: 100px;
    }

    .skills-ul {
      
      margin-left: 100px;
      margin-right: 100px;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.contact-section {
  border: 0px;
}

.contact-header {
  margin-top: 0px;
  padding: 0px;
}

body nav {
  width: 100%;
}

input {
  padding: 6px;
  margin: 30px;
}

textarea {
  padding: 6px;
  margin: 10px;
}

button {
  width: 140px;
  height: 70px;
  font-size: 18px;
  margin: 20px;
  border-radius: 5%;
}